.container{
    width: 600px;
}
#firstName, #lastName{
    display: inline-block;
}
#edit{
    margin-left: 150px;
    width: 90px;
    height: 30px;
    border-radius: 3px;
}
#follow{
    margin-left: 134px;
    width: 90px;
    height: 30px;
    border-radius: 3px;
}
#text{
    width: 500px;
}
#send{
    width: 90px;
    border-radius: 3px;
}
.posts{
    border: 1px solid gray;
    height: 100%;
    margin-top: 10px;
}
.edit{
    border-bottom: 1px solid black;
}
.edit-frofile{
    position: absolute;
    width:200px;
    height: 200px;
    border: 1px solid black;
    background-color: grey;
    margin: 0 auto;
}
